.postIt{
	height: 100vh;
	overflow: scroll!important;
}

@media print {

	.no-print { 
		display:none!important; 
	}

	nav, footer, video, audio, object, embed { 
		display:none!important; 
	}

	blockquote {
  		page-break-before: avoid;
  		page-break-inside: auto;
	}
}
