.newPicListActionsTop {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2%;
}

.listFilters {
	display: grid;
	justify-items: center;
	overflow-x: auto;
    overflow-y: hidden;
	scroll-behavior: smooth;
  	transition: visibility 0s, opacity 0.5s linear;
}

.picmeHidden {
	visibility: hidden;
    opacity: 0;
}

.listFilters ul {
	display: flex;
	flex-direction: row;
}

.newPicListActionsBottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2%;
}