<section id="newPicMeController" name="NewPicMeController" ng-controller="newPicMeController as npmCtrl" class="newPicMeController">
	<nav class="actions-top bgTransparent newPicListActionsTop">
		<a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-href="{{ npmCtrl.routeListPicMe }}">
			<i class="material-icons md-light">arrow_back</i>
		</a>
		<a class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" ng-href="">
			<i class="material-icons md-light">hd</i>
		</a>
    </nav>
    <div class="mdl-grid content-center">
		<video id="picMeCam" class="fullscreen" autoplay>Video stream not available.</video>
		<canvas id="picMeCanvas" class="fullscreen hidden"></canvas>
		<img id="picMeImage" class="fullscreen hidden"></img>
	</div>
	<nav class="actions-bottom bgTransparent">
		<nav class="listFilters picmeHidden">
			<ul class="demo-list-icon mdl-list">
				<li class="mdl-list__item" ng-repeat="filter in npmCtrl.picme.videoSensor.filters.options | filter: pesquisarDados | orderBy:'$index':true track by $index">
					<button class="hidden mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-color--teal" ng-click="filter.apply(npmCtrl.picme.videoSensor.element)">
						{{ filter.name | limitTo:1 | uppercase }}
					</button>
					<span class="mdl-chip mdl-color--teal mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" ng-click="filter.apply(npmCtrl.picme.videoSensor.element)">
						<span class="mdl-chip__text">{{ filter.name }}</span>
					</span>
				</li>
			</ul>
		</nav>
		<nav class="newPicListActionsBottom">
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored md-68 actionShowFilter" ng-click="npmCtrl.showFilters()">
				<i class="material-icons md-light md-48">photo_filter</i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored md-68" ng-click="npmCtrl.savePicMe()">
				<i class="material-icons md-light md-48">camera</i>
			</button>
			<button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored md-68" ng-click="npmCtrl.switchCam()">
				<i class="material-icons md-light md-48">{{ npmCtrl.front == true ? 'camera_front' : 'camera_rear' }}</i>
			</button>
		</nav>
	</nav>
</section>