.listPicMeController {
	background-color: lightslategray;
	height: 90vh;
	overflow: scroll!important;
}

.picMeList.gridContainer {
	--gridTemplate-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 30px;
	justify-items: center;
	margin: 0% 5% 5% 5%;
}

.picMeList figure {
	justify-items: center;
	border-radius: 10px;
}

.picMeList img {
	--underGridContainer-Row: 1;
	--underGridContainer-AlignSelf: end;
	border: none;
	margin: 1%;
	background: transparent;
}

.picMeList figcaption {
	--overGridContainer-Row: 2;
	--overGridContainer-AlignSelf: end;
	background: transparent;
    padding: 5%;
    color: black;
	margin: 0 auto;
	font-weight: bolder;
}

.picMeList nav {
	--gridTemplate-columns: 1fr;
	--overGridContainer-Row: 3;
	border-top: 1px solid #999;
    width: 100%;
    justify-items: end;
	justify-self: end;
}

.picMeQRCode.gridContainer {
	height: 80vh;
	justify-items: center;
	align-items: center;
}

.picMeQRCode canvas {
	border-radius: 10px;
}

.picMeListActions.gridContainer {
	--gridTemplate-columns: 1fr 1fr;
	justify-items: center;
	padding: 2%;
}
